<nav class="nav">
    <h1><a routerLink=" "></a>Shopping Cart</h1>
    <div *ngIf="menuType !== 'seller' && menuType !== 'shipper'" class="search">
        <input type="text" 
        #searchInput
        (keyup)="searchProducts($event)" (blur)="hideSearch()" placeholder="Search Products">
        <button (click)="submitSearch(searchInput.value)">Search</button>
        <ul class="suggested-search" *ngIf="searchResult">
            <li *ngFor="let item of searchResult">
                <a (mousedown)="redirectToDetails(item.id)">{{item.productName | titlecase}} </a>
            </li>
        </ul>
    </div>
    <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
        <!-- <li><a routerLink="seller-login">Seller</a></li> -->
        <!-- <li><a routerLink="shipper-login">Shipper</a></li> -->
        <li><a href="">Home</a></li>
        <li><a routerLink="user-login">Login</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="contact-us">Contact Us</a></li>
        <li class="badge" value={{cartItems}}><a routerLink="#"><fa-icon [icon]="iconCart"></fa-icon></a></li>
       
    </ul>
    <ul *ngSwitchCase="'user'">
        <li><a href="">Home</a></li>
        <li><a >{{userName | titlecase}}</a></li>
        <li><a routerLink="my-orders">My Orders</a></li>
        <li><a (click)="userLogout()">Logout</a></li>
        <li class="badge" value={{cartItems}}><a [routerLink]="cartItems>0?'cart-page':null" class="icon"><fa-icon [icon]="iconCart"></fa-icon></a></li>
    </ul>
    <ul *ngSwitchCase="'seller'">
        <li><a routerLink="seller-addProduct">Add Product</a></li>
        <li><a routerLink="seller-home">List</a></li>
        <li><a >{{sellerName | titlecase}}</a></li>
        <li><a (click)="logOut()">LogOut</a></li>
    </ul> 
    <ul *ngSwitchCase="'shipper'">
        <li><a >{{shipperName | titlecase}}</a></li>
        <li><a (click)="shipperLogOut()">LogOut</a></li>
    </ul>
   </div>
</nav>
