<div class="container-fluid" id="hero">
    <div class="row row-cols-1 g-4" style="margin-left: 10%;margin-right:10%;margin-top:1%;">
        <div class="col">
            <div class="card-group">
                <div class="card">
                    <div class="header" style="color:rgb(0, 40, 128);font-weight: bolder;">
                        <br><br>
                        <h1>ABOUT</h1>
                    </div><br><br>
                    <div class="header2">
                        <h3>Who We Are</h3>
                        <div class="body">
                            <br>
                            <p>Shopping Cart is one of India’s leading E-Commerce platforms, offering a wide range of products and services to online shoppers. From electronics and fashion to home essentials and groceries, Shopping Cart provides a convenient and seamless shopping experience for millions of customers across the country.
                            </p>
                            <br><br>
                            <ul>
                                <li>Our Core Values</li>
                                <li>Excellence</li>
                                <li>Customers</li>
                                <li>Focus Product</li>
                                <li>Leadership</li>
                                <li>People</li>
                            </ul>
 
                        </div>
                    </div>
 
                </div>
                <div class="col">
                    <br><br><br><br><br>
                    <div class="card" style="margin-left: 5%;">
                        <img src="https://imageio.forbes.com/specials-images/imageserve/6349c12e2476e78de0de06ab/Online-Shopping/960x0.png?format=png&width=960" class="card-img-top" alt="Shopping Cart" height="480">
                    </div>
                </div>
            </div>
        </div>
    </div>
