.card {
    border-style: none;
    width: 140%;
    margin-right: 10px;
}
 
li {
    color: rgb(0, 40, 128);
    font-size: large;
    text-align: justify;
    font-weight: 400;
}
 
p {
    font-size: large;
    text-align: justify;
    font-weight: 400;
}