.line {
  float: left;
  position: relative;
  width: 150px;
  height: 3px;
  background: #dad0d0;
  top: 200px;
  left: 400px;
  &:before{
    position:absolute;
    width: 15px;
    height: 15px;
    background: green;
    content: '';
    top: -6px;
    border-radius: 50%;
  }
  &:nth-child(3){
   &:after{
    position:absolute;
    width: 15px;
    height: 15px;
    background: green;
    content: '';
    top: -6px;
    right: -10px;
    border-radius: 50%;
    }
  }
  .status{
    position: absolute;
    left: -20px;
    top: 20px;
  }
  &:nth-child(3){
    .status{
      left:-50px;
      &:nth-child(2){
        left:120px;
        white-space: nowrap;
      }
    }
  }
}
.inner-line-1,.inner-line-2,.inner-line-3 {
  width: 0%;
  height: 100%;
  background: green;
  animation: flow 30s ease-in forwards;
}
/*
* delay works only on GC
*/
.inner-line-2{
  -webkit-animation-delay: 30s;
}
.inner-line-3{
  -webkit-animation-delay: 60s;
}

@keyframes flow {
  from {
    width: 10%;
  }
  to {
    width: 100%;
  }
}
