<app-admin-header></app-admin-header>
<div class="sidebar">
  <a href="admin/users">Users</a>
  <a href="admin/sellers">Sellers</a>
  <a href="admin/shippers">Shippers</a>
  <a href="admin/products">Products</a>
  <a href="admin/orders">Orders</a>
</div>
<!--Search content-->
<div class="search">
  <input class="search-bar" type="text" name="username" [(ngModel)]="username" (ngModelChange)="Search()"
    placeholder="Search By Shippers Name">
</div>
<!-- Page content -->
<div class="content">
  <h2>Sellers</h2>
  <p class="message-p">{{shipperMessage}}</p>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <!-- <th>SellerID</th> -->
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
        <th>State</th>
        <th>Pincode</th>
        <th>Mobile Number</th>
        <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let shipper of shippers">
        <td>{{shipper.id}}</td>
        <!-- <td>{{shipper.sellerId}}</td> -->
        <td>{{shipper.username}}</td>
        <td>{{shipper.email}}</td>
        <td>{{shipper.city}}</td>
        <td>{{shipper.state}}</td>
        <td>{{shipper.pincode}}</td>
        <td>{{shipper.mobileNumber}}</td>
        <td>

          <a class="adjust-update-link" routerLink="/admin/shippers-update/{{shipper.id}}" [skipLocationChange]="true"> <fa-icon
              [icon]="iconEdit"></fa-icon></a>
          <a class="adjust-delete-link"> <fa-icon (click)="deleteShipper(shipper.id)" [icon]="icon"></fa-icon></a>

        </td>
      </tr>
    </tbody>
  </table>
</div>