<div class="seller-login">
  <div class="sign-up">
    <h2>User Sign-up</h2>
    <form [formGroup]="userForm" (ngSubmit)="signUp(userForm.value)" class="common-form">
      <div>
        <input type="text" class="form-input" placeholder="Enter Name" name="username" formControlName="username" pattern="^[a-zA-Z ]+$" required minlength="4" />
        <div *ngIf="userForm.controls['username'].invalid && (userForm.controls['username'].dirty || userForm.controls['username'].touched)" class="error-message">
          <span *ngIf="userForm.controls['username'].errors?.['required']" class="error">Username is required.</span>
          <span *ngIf="userForm.get('username')?.hasError('minlength')" class="error">Username must be at least 4 characters long.</span>
        </div>
      </div>
      <div>
        <input type="text" class="form-input" placeholder="Enter Email" name="email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required email />
        <div *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched)" class="error-message">
          <span *ngIf="userForm.controls['email'].errors?.['required']" class="error">Email is required.</span>
          <span *ngIf="userForm.controls['email'].errors?.['email']" class="error">Invalid email format.</span>
        </div>
      </div>
      <div>
        <input type="password" class="form-input" placeholder="Enter Password" name="password" formControlName="password" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#\$%\^&\*\(\)\-+=])(?=\S+).{8,20}$" required minlength="6" />
        <div *ngIf="userForm.controls['password'].invalid && (userForm.controls['password'].dirty || userForm.controls['password'].touched)" class="error-message">
          <span *ngIf="userForm.controls['password'].errors?.['required']" class="error">Password is required.</span>
          <span *ngIf="userForm.get('password')?.hasError('minlength')" class="error">Password must be 6 characters long.</span>
        </div>
      </div>
      <div>
        <input type="text" class="form-input" placeholder="Enter House no." name="houseno" formControlName="houseno" required />
        <div *ngIf="userForm.controls['houseno'].invalid && (userForm.controls['houseno'].dirty || userForm.controls['houseno'].touched)" class="error-message">
          <span *ngIf="userForm.controls['houseno'].errors?.['required']" class="error">House No. is required.</span>
        </div>
      </div>
      <div>
        <input type="text" class="form-input" placeholder="Enter Area or Street" name="area" formControlName="area" required />
        <div *ngIf="userForm.controls['area'].invalid && (userForm.controls['area'].dirty || userForm.controls['area'].touched)" class="error-message">
          <span *ngIf="userForm.controls['area'].errors?.['required']" class="error">Area or Street is required.</span>
        </div>
      </div>
      <div>
        <input type="text" class="form-input" placeholder="Enter City" name="city" formControlName="city" required />
        <div *ngIf="userForm.controls['city'].invalid && (userForm.controls['city'].dirty || userForm.controls['city'].touched)" class="error-message">
          <span *ngIf="userForm.controls['city'].errors?.['required']" class="error">City is required.</span>
        </div>
      </div>
      <div>
        <input type="text" class="form-input" placeholder="Enter State" name="state" formControlName="state" required />
        <div *ngIf="userForm.controls['state'].invalid && (userForm.controls['state'].dirty || userForm.controls['state'].touched)" class="error-message">
          <span *ngIf="userForm.controls['state'].errors?.['required']" class="error">State is required.</span>
        </div>
      </div>
      <div>
        <input type="text" class="form-input" placeholder="Enter Pincode" name="pincode" formControlName="pincode" required />
        <div *ngIf="userForm.controls['pincode'].invalid && (userForm.controls['pincode'].dirty || userForm.controls['pincode'].touched)" class="error-message">
          <span *ngIf="userForm.controls['pincode'].errors?.['required']" class="error">Pincode is required.</span>
        </div>
      </div>
      <div>
        <input type="text" class="form-input" placeholder="Enter Mobile Number" name="mobileNumber" formControlName="mobileNumber" pattern="[0-9]{10}" required  />
        <div *ngIf="userForm.controls['mobileNumber'].invalid && (userForm.controls['mobileNumber'].dirty || userForm.controls['mobileNumber'].touched)" class="error-message">
          <span *ngIf="userForm.controls['mobileNumber'].errors?.['required']" class="error">Mobile Number is required.</span>
        </div>
      </div>
      <input type="text" class="form-input" name="role" value="BUYER" disabled="true"/>

      <button class="form-button" [disabled]="userForm.invalid">Sign Up</button>
      <p>Already have account? <a class="auth-toggle-link" (click)="openLogin()">Click for Login</a></p>
    </form>
  </div>
</div>


