<div class="seller-login">
  <div class="login">
    <h2>Seller Login</h2>
    <p class="error-p">{{loginError}}</p>
    <form [formGroup]="sellerForm" (ngSubmit)="login(sellerForm.value)" class="common-form">
      <div>
        <input type="text" class="form-input" placeholder="Enter Email" name="email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required email />
        <div *ngIf="sellerForm.controls['email'].invalid && (sellerForm.controls['email'].dirty || sellerForm.controls['email'].touched)" class="error-message">
          <span *ngIf="sellerForm.controls['email'].errors?.['required']" class="error">Email is required.</span>
          <span *ngIf="sellerForm.controls['email'].errors?.['email']" class="error">Invalid email format.</span>
        </div>
      </div>
      <div>
        <input type="password" class="form-input" placeholder="Enter Password" name="password" formControlName="password" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#\$%\^&\*\(\)\-+=])(?=\S+).{8,20}$" required minlength="6" />
        <div *ngIf="sellerForm.controls['password'].invalid && (sellerForm.controls['password'].dirty || sellerForm.controls['password'].touched)" class="error-message">
          <span *ngIf="sellerForm.controls['password'].errors?.['required']" class="error">Password is required.</span>
          <span *ngIf="sellerForm.get('password')?.hasError('minlength')" class="error">Password must be 6 characters long.</span>
        </div>
      </div>
      <button class="form-button" [disabled]="sellerForm.invalid">Login</button>
      <p>Don't have account? <a class="auth-toggle-link" (click)="openSignup()">Click for Sign-up</a></p>

    </form>
  </div>
</div>