.product-item{
    margin-bottom: 10px;
    border: 1px solid #ccc;
    align-items:center;
    margin-left: 50px;
    width: 250px;
    border-radius: 10px;
}

.product-item img{
    width: 70%;
    height: 200px;
    display: block;
    margin: auto;
    object-fit:contain;
}
.product-item .product-details {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 0px;
    position: sticky;
}

.product-item .name-head{
    font-size: 15px;
    font-weight: 550;
}
.product-item h6{
    font-size: 20px;
    text-align: center;
}
.product-item .product-footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 0px;
}

.trendy{
    margin-top: 30px;
    margin-left: 50px;
}

.view{
    height: 35px;
    width: 300px;
    border: 1px solid #2F3C7E;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: #2F3C7E;
    align-items: end;
}