
<div class="product-list-wrapper">
    <h2 class="trendy">Global Brands</h2>
    <div class="row">
        <div class="col-sm-3" *ngFor="let item of trendyProducts">
            <div class="product-item">
                <img src="{{item.productImage}}" alt="">
                <div class="product-details">
                    <h6 class="name-head">{{item.productName}}</h6>
                    <div class="product-price">
                        <h6>{{item.productPrice}}</h6>
                    </div>
                </div>
                <div class="product-footer">
                    <button class="view" routerLink="/details/{{item.id}}">View Details</button>
                </div>
            </div>
        </div> 
    </div>
</div>